html {
    height: 100%;
    width: 100%;
}

/*---------------------PÁGINA INICIAL-------------------------*/

/*HEADER*/

#Header #sejaApoiador {

    background-color: rgb(255, 153, 57);
    padding: 5px;
    margin-top: 10px;

    font-size: 1.2rem;
    text-align: center;
    border-radius: 8px;

    text-shadow: -1.3px 0 white, 0 1.3px white, 1.3px 0 white, 0 -1.3px white;
    transition: 0.3s;
}

#Header #sejaApoiador:hover {

    background-color: rgb(39, 75, 255);
    color: aliceblue;

    padding: 3%;

    text-shadow: -1.3px 0 black, 0 1.3px black, 1.3px 0 black, 0 -1.3px black;
    transition: 0.3s;
}

#Header #logo img {
    width: 70%;
    height: 70%;
    display: block;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

}

/*MAIN*/
#Principal {
    background: rgb(0, 61, 164);
    background: linear-gradient(0deg, rgba(0, 61, 164, 0) 0%, rgba(0, 59, 163, 1) 35%, rgba(0, 58, 163, 1) 50%, rgba(0, 62, 164, 1) 65%, rgba(0, 73, 167, 0) 100%);
}

#Principal p {
    text-align: center;
}


#Principal #Escolha .BotõesPeça {

    margin: auto 25%;

    height: 40px;
    width: 200px;

    padding: 5px;
    margin-top: 10px;

    font-size: 1.2rem;
    text-align: center;
    border-radius: 8px;
}

#Principal #Escolha .BotõesPeça:hover {

    height: 50px;
    width: 210px;

    padding: 10px;
    margin-top: 12px;
    cursor: pointer;
}

/*COR ESCOLHA DAS PEÇAS*/

#ProcessadorBtn {
    background-color: rgb(0, 145, 255);
    color: white;
    text-shadow: -1.3px 0 Black, 0 1.3px Black, 1.3px 0 Black, 0 -1.3px Black;
    transition: 0.3s;
}

#ProcessadorBtn:hover {
    background-color: rgb(0, 77, 136);
    color: rgb(0, 0, 0);
    text-shadow: -1.3px 0 White, 0 1.3px White, 1.3px 0 White, 0 -1.3px White;
    transition: 0.3s;

}

#PlacaVideoBtn {
    background-color: rgb(129, 255, 117);
    color: white;
    text-shadow: -1.3px 0 Black, 0 1.3px Black, 1.3px 0 Black, 0 -1.3px Black;
    transition: 0.3s;
}

#PlacaVideoBtn:hover {
    background-color: rgb(43, 159, 53);
    color: rgb(0, 0, 0);
    text-shadow: -1.3px 0 White, 0 1.3px White, 1.3px 0 White, 0 -1.3px White;
    transition: 0.3s;

}

#PlacaMãeBtn {
    background-color: rgb(255, 0, 195);
    color: white;
    text-shadow: -1.3px 0 Black, 0 1.3px Black, 1.3px 0 Black, 0 -1.3px Black;
    transition: 0.3s;
}

#PlacaMãeBtn:hover {
    background-color: rgb(153, 0, 117);
    color: rgb(0, 0, 0);
    text-shadow: -1.3px 0 White, 0 1.3px White, 1.3px 0 White, 0 -1.3px White;
    transition: 0.3s;

}

#CoolerBtn {
    background-color: rgb(0, 255, 247);
    color: white;
    text-shadow: -1.3px 0 Black, 0 1.3px Black, 1.3px 0 Black, 0 -1.3px Black;
    transition: 0.3s;
}

#CoolerBtn:hover {
    background-color: rgb(0, 138, 134);
    color: rgb(0, 0, 0);
    text-shadow: -1.3px 0 White, 0 1.3px White, 1.3px 0 White, 0 -1.3px White;
    transition: 0.3s;

}

#RamBtn {
    background-color: rgb(255, 0, 0);
    color: white;
    text-shadow: -1.3px 0 Black, 0 1.3px Black, 1.3px 0 Black, 0 -1.3px Black;
    transition: 0.3s;
}

#RamBtn:hover {
    background-color: rgb(138, 0, 0);
    color: rgb(0, 0, 0);
    text-shadow: -1.3px 0 White, 0 1.3px White, 1.3px 0 White, 0 -1.3px White;
    transition: 0.3s;

}

#FonteBtn {
    background-color: rgb(251, 255, 0);
    color: white;
    text-shadow: -1.3px 0 Black, 0 1.3px Black, 1.3px 0 Black, 0 -1.3px Black;
    transition: 0.3s;
}

#FonteBtn:hover {
    background-color: rgb(138, 138, 0);
    color: rgb(0, 0, 0);
    text-shadow: -1.3px 0 White, 0 1.3px White, 1.3px 0 White, 0 -1.3px White;
    transition: 0.3s;

}

#HDBtn {
    background-color: rgb(26, 255, 0);
    color: white;
    text-shadow: -1.3px 0 Black, 0 1.3px Black, 1.3px 0 Black, 0 -1.3px Black;
    transition: 0.3s;
}

#HDBtn:hover {
    background-color: rgb(7, 138, 0);
    color: rgb(0, 0, 0);
    text-shadow: -1.3px 0 White, 0 1.3px White, 1.3px 0 White, 0 -1.3px White;
    transition: 0.3s;

}

#FocosBtn {
    background-color: rgb(255, 90, 90);
    color: white;
    text-shadow: -1.3px 0 Black, 0 1.3px Black, 1.3px 0 Black, 0 -1.3px Black;
    transition: 0.3s;
}

#FocosBtn:hover {
    background-color: rgb(140, 48, 48);
    color: rgb(0, 0, 0);
    text-shadow: -1.3px 0 White, 0 1.3px White, 1.3px 0 White, 0 -1.3px White;
    transition: 0.3s;

}

/*---------------------PÁGINA DE CADASTRO-------------------------*/

#Cadastrar {
    width: 100%;
    margin: 0 auto;
    background: transparent;
}

#Cadastrar #container-cadastro {

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #0d009c;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;

}

#Cadastrar .label-float {
    margin-top: 0%;
    margin-bottom: 10%;
    padding: 2%;

    background-color: rgb(255, 255, 255);

    width: 100%;
    position: relative;
    border-bottom: 3px solid rgb(42, 149, 248);
}

#Cadastrar .input-form {

    font-size: 18px;
    color: rgb(0, 153, 255);

    height: 25px;
    line-height: 1.5;
    background: transparent;
    display: block;
    padding: 0 5px;

}

#Cadastrar .focus-input-form {

    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    top: 15px;
    left: 0px;
    font-size: 1.2rem;

    padding-bottom: 5px;

    pointer-events: none;

}

.formularioCadastro .FaçaCadastro h1 {

    display: block;
    font-size: 45px;
    text-align: center;
    line-height: 1.2;
}

#Cadastrar input,
button {

    margin-top: 10%;
    outline: none;
    border: none;
}

#Cadastrar button {

    margin: 5% auto;

    height: 40px;
    width: 200px;

    padding: 5px;
    margin-top: 10px;

    font-size: 1.2rem;
    text-align: center;
    border-radius: 8px;

    background-color: rgb(0, 166, 255);
    color: aliceblue;
    text-shadow: -1.3px 0 Black, 0 1.3px Black, 1.3px 0 Black, 0 -1.3px Black;

    transition: all 0.4s;
}

#Cadastrar #BtnGoBack button {

    margin: 5% auto;

    height: 40px;
    width: 220px;

    padding: 5px;
    margin-top: 10px;

    font-size: 1rem;
    text-align: center;
    border-radius: 8px;

    background-color: rgb(0, 191, 57);
    color: rgb(0, 0, 0);
    text-shadow: -1.3px 0 White, 0 1.3px White, 1.3px 0 White, 0 -1.3px White;

    transition: all 0.4s;
}

#Cadastrar #BtnGoBack button:hover {

    background-color: rgb(255, 157, 0);
    color: rgb(0, 0, 0);
    text-shadow: -1.3px 0 white, 0 1.3px white, 1.3px 0 white, 0 -1.3px white;

    width: 105%;
    height: 105%;
    padding: 2%;

    transition: all 0.4s;

    cursor: pointer;
}

#Cadastrar button:hover {

    background-color: rgb(0, 255, 110);
    color: rgb(0, 0, 0);
    text-shadow: -1.3px 0 white, 0 1.3px white, 1.3px 0 white, 0 -1.3px white;

    width: 105%;
    height: 105%;
    padding: 2%;

    transition: all 0.4s;

    cursor: pointer;
}

#Cadastrar .RemoveBtn:hover {

    background-color: rgb(255, 0, 0);
}

#msgError {
    text-align: center;
    color: rgb(63, 0, 0);
    background-color: rgb(210, 0, 0);
    padding: 5px;
    border-radius: 4px;
    display: none;
    text-shadow: -1.3px 0 white, 0 1.3px white, 1.3px 0 white, 0 -1.3px white;
}

#msgSuccess {
    text-align: center;
    color: rgb(0, 84, 0);
    background-color: rgb(0, 226, 0);
    padding: 5px;
    border-radius: 4px;
    display: none;
    text-shadow: -1.3px 0 white, 0 1.3px white, 1.3px 0 white, 0 -1.3px white;
}

/*---------------------------PÁGINA DE DESCRIÇÃO DAS PEÇAS-------------------------------*/

#btnVoltar{

    border: solid rgb(0, 12, 104) 2px;
    border-radius: 8px;
    background-color: rgb(0, 94, 255);
    color: white;

    margin: 5px;
    padding: 5px;

    text-shadow: -1.3px 0 Black, 0 1.3px Black, 1.3px 0 Black, 0 -1.3px Black;
    transition: 0.3s;
}

#btnVoltar:hover{

    border: solid rgb(0, 104, 23) 2px;
    background-color: rgb(0, 255, 0);

    padding: 0.8%;
    transition: 0.3s;
}

#btnCompatibilidade{
    border: solid rgb(104, 0, 0) 2px;
    border-radius: 8px;
    background-color: rgb(255, 0, 0);
    color: white;

    margin: 5px;
    padding: 5px;

    text-shadow: -1.3px 0 Black, 0 1.3px Black, 1.3px 0 Black, 0 -1.3px Black;
    transition: 0.3s;
}

#btnCompatibilidade:hover{
    border: solid rgb(104, 88, 0) 2px;
    background-color: rgb(255, 251, 0);

    padding: 1%;

    text-shadow: -1.3px 0 Black, 0 1.3px Black, 1.3px 0 Black, 0 -1.3px Black;
    transition: 0.3s;
}

#Conteudo iframe{

    border: solid black 2px;
    border-radius: 5px;
}